################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.suo
/JetBlack.Examples.EchoClient/bin/Debug
/JetBlack.Examples.EchoClient/obj/x86/Debug
/JetBlack.Examples.EchoClient2/bin/Debug
/JetBlack.Examples.EchoClient2/obj/Debug
/JetBlack.Examples.EchoClient3/bin/Debug
/JetBlack.Examples.EchoClient3/obj/Debug
/JetBlack.Examples.EchoServer/bin/Debug
/JetBlack.Examples.EchoServer/obj/x86/Debug
/JetBlack.Examples.EchoServer2/bin/Debug
/JetBlack.Examples.EchoServer2/obj/Debug
/JetBlack.Examples.NetworkClient1/bin/Debug
/JetBlack.Examples.NetworkClient1/obj/Debug
/JetBlack.Examples.NetworkClient2/bin/Debug
/JetBlack.Examples.NetworkClient2/obj/Debug
/JetBlack.Examples.NetworkClient3/bin/Debug
/JetBlack.Examples.NetworkClient3/obj/Debug
/JetBlack.Examples.NetworkClient4/bin/Debug
/JetBlack.Examples.NetworkClient4/obj/Debug
/JetBlack.Examples.NetworkClient5/obj/Debug
/JetBlack.Examples.NetworkServer1/bin/Debug
/JetBlack.Examples.NetworkServer1/obj/Debug
/JetBlack.Examples.RxConsoleApp1/bin/Debug
/JetBlack.Examples.RxConsoleApp1/obj/x86/Debug
/JetBlack.Examples.RxConsoleApp2/bin/Debug
/JetBlack.Examples.RxConsoleApp2/obj/Debug
/packages
/JetBlack.Examples.NetworkClient5/bin/Debug
/JetBlack.Examples.NetworkServer2/bin/Debug
/JetBlack.Examples.NetworkServer2/obj/Debug
/JetBlack.Examples.RxNetwork/bin/Debug
/JetBlack.Examples.RxNetwork/obj/Debug
/JetBlack.Examples.RxNetworkClient/bin/Debug
/JetBlack.Examples.RxNetworkClient/obj/Debug
/JetBlack.Examples.RxNetworkServer/bin/Debug
/JetBlack.Examples.RxNetworkServer/obj/Debug
/JetBlack.Examples.RxNetwork.Test/bin/Debug
/JetBlack.Examples.RxNetwork.Test/obj/Debug
/JetBlack.Examples.EchoClient/obj/Debug
/JetBlack.Examples.EchoServer/obj/Debug
/JetBlack.Examples.RxConsoleApp1/obj/Debug
/JetBlack.Examples.SocketClient1/bin/Debug
/JetBlack.Examples.SocketClient1/obj/Debug
/JetBlack.Examples.SocketClient2/bin/Debug
/JetBlack.Examples.SocketClient2/obj/Debug
/JetBlack.Examples.SocketClient3/bin/Debug
/JetBlack.Examples.SocketClient3/obj/Debug
/JetBlack.Examples.SocketServer1/bin/Debug
/JetBlack.Examples.SocketServer1/obj/Debug
/JetBlack.Examples.SocketServer2/bin/Debug
/JetBlack.Examples.SocketServer2/obj/Debug
/JetBlack.Examples.RxSocket/bin/Debug
/JetBlack.Examples.RxSocket/obj/Debug
/JetBlack.Examples.RxSocketClient/bin/Debug
/JetBlack.Examples.RxSocketClient/obj/Debug
/JetBlack.Examples.RxSocketServer/bin/Debug
/JetBlack.Examples.RxSocketServer/obj/Debug
/JetBlack.Examples.SocketServer3/bin/Debug
/JetBlack.Examples.SocketServer3/obj/Debug
/JetBlack.Examples.SocketServer4/bin/Debug
/JetBlack.Examples.SocketServer4/obj/Debug
